<div class="row">
  <div class="col-md-9">
    <%= simple_form_for([@life_account, @commitment]) do |f| %>
      <%= f.input :name %>
      <%= f.input :due_at %>

      <%= f.submit nil, class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="col-md-3">
    <h4>Current Commitments</h4>

    <%# Have to add the .where.not to filter out the built commitment %>
    <% if @life_account.commitments.where.not(name: nil).any? %>
      <ul class="list-group">
        <% @life_account.commitments.where.not(name: nil).each do |commitment| %>
          <li class="list-group-item"><%= commitment.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No commitments yet.</p>
    <% end %>
  </div>
</div>
