<h2>How You Want To Be Remembered</h2>

<hr>

<% if @user.eulogies.any? %>
  <div class="card-columns">
    <% @user.eulogies.each do |eulogy| %>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= link_to(eulogy.name, eulogy) %></h4>
          <div class="card-text"><%= truncate(eulogy.description, length: 150) %></div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No eulogies yet.</p>
<% end %>

<%= link_to('New Eulogy', new_eulogy_path, class: 'btn btn-primary') %>

<br>
<br>

<h2>Priorities</h2>

<hr>

<% if @user.life_accounts.any? %>
  <div class="card-columns">
    <% @user.life_accounts.each do |life_account| %>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= link_to(life_account.name, life_account) %></h4>
          <div class="card-text"><%= simple_format(life_account.purpose_statement) %></div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No life accounts yet.</p>
<% end %>

<%= link_to('New Life Account', new_life_account_path, class: 'btn btn-primary') %>
