<% content_for(:wizard) do %>
  <div class="card-block">
    <h2 class="card-title">New Life Account</h2>

    <%= simple_form_for(@life_account) do |f| %>
      <%= f.input :name %>
      <%= f.input :purpose_statement, as: :wysiwyg %>
      <%= f.input :envisioned_future, as: :wysiwyg %>
      <%= f.input :current_reality, as: :wysiwyg %>
      <%= f.submit nil, class: 'btn btn-success pull-xs-right' %>
    <% end %>
  </div>
<% end %>
