<!DOCTYPE html>
<html>
  <head>
    <title>LifePlan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navigation' %>

    <% if content_for?(:full_width) %>
      <%= yield(:full_width) %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
