<!DOCTYPE html>
<html>
  <head>
    <title>LifePlan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navigation' %>

    <% if content_for?(:full_width) %>
      <%= yield(:full_width) %>
    <% end %>

    <div class="container">
      <%= yield %>

      <% if content_for?(:wizard) %>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="card">
              <%= yield(:wizard) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
